* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header {
  backdrop-filter: blur(10px);
  background-color: steelblue;
  top: 0;
}
.container-element h1 {
  padding: 2rem;
  color: #fff;
  text-align: center;
}

.container-element h1 span {
  color: yellow;
  font-size: 17px;
}

.navigation-content {
  margin: auto;
  height: 8vh;
  display: flex;
  padding: 1rem;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(241, 241, 241, 0.8);
}

.navigation-content a {
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  transition: ease 0.5s;
  color: blue;
}

.navigation-content a:hover {
  color: red;
  font-size: 18px;
  border-bottom: 1px solid red;
}

.main {
  margin: auto;
  padding: 1rem;
  width: 100%;
  column-gap: 10px;
  display: grid;
  border-radius: 10px 10px 0 0;
  grid-template: auto auto/ auto auto;
}

.card {
  border: 1px solid black;
  border-radius: 10px 10px 0 0;
}

.aside-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.card #about-me,
#aside-head {
  color: white;
  background-color: steelblue;
  text-align: center;
  padding: 1.5rem;
  border-radius: 10px 10px 0 0;
}

.about-self {
  padding: 0.5rem;
  width: 90%;
  margin: auto;
  display: flex;
}
.about-self figcaption {
  font-size: 12px;
  text-align: center;
  color: red;
}

#country {
  text-align: center;
  font-size: 30px;
  color: steelblue;
  padding: 1rem;
}
hr {
  width: 80%;
  margin: auto;
}
.about-self img {
  width: auto;
  padding: 0.5rem;
  height: 100px;
}

.footer {
  width: 100%;
  margin: auto;
  background-color: steelblue;
  padding: 1.5rem;
}

.footer p {
  text-align: center;
  color: #fff;
}
.footer p:last-child {
  text-align: center;
  color: yellow;
  padding: 0.5rem;
  font-size: 17px;
}

.footer p {
  font-size: 20px;
}

/* Small Devices (Mobile) */
@media (max-width: 768px) {
  .about-self {
    padding: 0.5rem;
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .about-self p {
    font-size: 12px;
  }
}
