:root{
    --background-color: #dddcdc;
    --input-background-color:#ddd;
    --general-text-color: #000;
    --header-background: darkblue;
    --header-font: ;
    --label-font: ;
    --body-font: ;
    --general-font: ;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, footer{
    background-color: var(--header-background);
    color: #fff;
    width: 90%;
    min-width: 400px;
    padding: 1rem;
    margin: 0 auto;
    text-align: center;

}
main{
    padding: 1rem;
    margin: 0 auto;
    width: 90%;
}

.p-review{
    margin-bottom: 1rem;
    height: auto;
    margin-top: 1rem;
    background-color: var(--background-color);
}
.p-review .radio, .checkbox{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.radio{
    display: flex;
}
.p-review .checkbox{
    margin-right:6px;
}

.p-review select{
    margin-left: .5rem;
    height: 40px;
    width: 96%;
    max-width: 700px;
    outline: none;
}
.p-review label{
    display: block;
    margin-left: .5rem;
}

.p-review input[type="text"],
.p-review input[type="date"]{
    display:block;
    height: 40px;
    padding: .75rem;
    width: 96%;
    max-width: 700px;
    outline: none;
}

.p-review .checkbox input[type="checkbox"]{
    margin-right: .5rem;
    width: 18px;
    height: 18px;
}
.checkbox label{
    margin-bottom: .2rem;
}



.p-review textarea{
    height: 40px;
    width: 96%;
    padding: .75rem;
    margin-left: .5rem;
    margin-bottom: 1%;
    resize: none;
    max-width: 700px;
    outline: none;
}

.p-review input[type="submit"]{
    height: 40px;
    width: 96%;
    margin-left: .5rem;
    margin-top: 2%;
    margin-bottom: 2%;
    max-width: 700px;
    outline: none;
}
