:root {
  --secondary-color: darkblue;
  --tertiary-color: #fff;
  --header-font: "Open Sans", sans-serif;
  --body-font: "Montserrat", sans-serif;
}
@media only screen and (min-width: 768px) {
  header {
    font-size: 30px;
  }

  main {
    position: relative;
  }
  .data {
    position: absolute;
    opacity: 0.9;
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    top: 30px;
    left: 40px;
  }
  .hero {
    height: 90vh;
  }

  .weather {
    opacity: 0.9;
    background-color: var(--tertiary-color);
    position: absolute;
    bottom: 20px;
    color: var(--secondary-color);
    right: 40px;
  }
  .data h2 {
    font-family: var(--header-font);
    margin: 10px 70px 0px -30px;
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
    left: 0;
    padding: 1rem;
  }
  .weather img {
    display: none;
  }
  .weather h2 {
    margin: 10px 70px 0px -30px;
    margin-top: 10px;
    font-family: var(--header-font);
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
    padding: 1rem;
  }
  .weather h2::after {
    content: "⛅";
    float: right;
  }
}
