@media (min-width: 1025px) {
  header {
    font-size: 40px;
  }

  main {
    position: relative;
  }
  .data {
    position: absolute;
    opacity: 0.8;
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    top: 20px;
    left: 40px;
  }
  .hero {
    height: 90vh;
  }

  .weather {
    opacity: 0.8;
    background-color: var(--tertiary-color);
    position: absolute;
    bottom: 20px;
    color: var(--secondary-color);
    right: 40px;
  }
  .data h2 {
    margin: 10px 70px 0px -30px;
    opacity: 1;
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
    left: 0;
    padding: 1rem;
  }
  .weather img {
    display: none;
  }
  .weather h2 {
    margin: 10px 70px 0px -30px;
    margin-top: 10px;
    opacity: 1;
    color: var(--tertiary-color);
    background-color: var(--secondary-color);
    padding: 1rem;
  }
  .weather h2::after {
    content: "⛅";
    float: right;
  }
}
