@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
:root {
  --background-color: darkblue;
  --text-color: #fff;
  --hover-backgorund: #fff;
  --hover-color: darkblue;
  --header-font: "Montserrat", sans-serif;
  --body-font: "Lato", sans-serif;
}
* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
body {
  font-weight: var(--body-font);
}
/* Header styles */
.header {
  position: relative;
  top: 0;
  width: 100%;
  font-family: var(--header-font);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
}

.header h1 {
  padding: 0px 20px 00px 2px;
  color: var(--text-color);
  font-size: 40px;
  font-variant: small-caps;
  font-weight: 400;
}

/* Navigation styles */
.navigation {
  display: flex;
  flex-direction: column;
  background-color: darkblue;
  color: var(--text-color);
}

.navigation a {
  transition: ease 0.5s;
  padding: 1rem;
  border-top: 1px solid darkblue;
  color: var(--text-color);
  text-decoration: none;
  display: none;
}

.navigation a:hover {
  background-color: var(--hover-backgorund);
  color: var(--hover-color);
}

/* Menu styles */
#menu {
  font-size: 40px;
  padding: 10px;
  color: var(--text-color);
  position: relative;
}

#menu::before {
  content: "☰";
}

#menu.open::before {
  content: "X";
}

.open a {
  display: block;
}

/* Main content styles */
main {
  font-weight: var(--body-font);
  border: 1px solid black;
  margin: auto;
}

main h2 {
  margin-top: 0.5rem;
  text-align: center;
}

/* Figure section styles */
.fig-section {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(9, 1fr);
  gap: 20px;
}

.fig-section figure {
  text-align: center;
}

.fig-section img {
  width: 370px;
  height: auto;
}

/* Footer styles */
footer {
  background-color: var(--background-color);
  padding: 20px;
  text-align: center;
  color: #fff;
}

footer {
  font-family: var(--body-font-style);
  font-style: normal;
  font-size: 20px;
  background-color: var(--background-color);
  padding: 20px;
  text-align: center;
  color: var(--text-color);
}
