@media only screen and (min-width: 1025px) {
  .navigation {
    display: flex;
    flex-direction: row;
  }
  .navigation a {
    padding: 20px;
    text-decoration: none;
    color: #fff;
  }
.navigation a:hover{
  background-color: white;
  color: darkblue;
}
  #menu {
    display: none;
  }

  .fig-section {
    grid-template: auto auto auto/ auto auto auto;
    gap: 40px;
  }
  .fig-section img {
    width: 300px;
    height: 200px;
  }

  .fig-section figure {
    margin: 1rem 0;
  }
}
