:root {
  --background-color: darkblue;
  --text-color: #fff;
  --hover-backgorund: #fff;
  --hover-color: darkblue;
  --header-font: "Open Sans", sans-serif;
  --body-font: "Roboto", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-weight: var(--body-font);
}
/* Header styles */
.header {
  padding: 0.5rem;
  background-color: var(--background-color);
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}
.header h1 {
  font-family: var(--header-font);
  letter-spacing: 5px;
  color: var(--text-color);
  font-size: 50px;
  font-variant: small-caps;
  grid-column: 1/2;
}
/* Navigation styles */
.navigation {
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  background-color: darkblue;
  color: var(--text-color);
}

.navigation a {
  font-family: var(--header-font);
  transition: ease 0.5s;
  padding: 1rem;
  text-align: center;
  color: var(--text-color);
  text-decoration: none;
  display: none;
}

.navigation a:hover {
  background-color: var(--hover-backgorund);
  color: var(--hover-color);
}

/* Menu styles */
#menu {
  outline: none;
  border: none;
  background-color: var(--background-color);
  font-size: 50px;
  color: var(--text-color);
}

#menu::before {
  content: "☰";
}

#menu.open::before {
  content: "X";
}

.open a {
  transition: ease 1s;
  display: block;
}

/* Main content styles */
main {
  font-family: var(--body-font);
  border: 1px solid black;
  margin: auto;
}

main h2 {
  margin-top: 0.5rem;
  text-align: center;
}

/* Figure section styles */
.fig-section {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(9, 1fr);
  gap: 20px;
}

.fig-section figure {
  text-align: center;
}

.fig-section img {
  width: 370px;
  height: auto;
}

/* Footer styles */
footer {
  background-color: var(--background-color);
  padding: 20px;
  text-align: center;
  color: #fff;
}

footer {
  font-family: var(--body-font-style);
  font-style: normal;
  font-size: 20px;
  background-color: var(--background-color);
  padding: 20px;
  text-align: center;
  color: var(--text-color);
}
footer #year::before {
  content: "©";
  font-size: 20px;
}
