* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
.header {
  min-width: 500px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darkblue;
}

.header nav {
  display: flex;
}
.header h1 {
  padding: 20px 20px 20px 0px;
  width: 100%;
  color: #fff;
  font-variant: small-caps;

  font-weight: 400;
  font-size: 30px;
}
nav a {
  display: none;
}

nav a:hover {
  background-color: #fff;
  color: darkblue;
}

main {
  border: 1px solid black;
  margin: auto;
  /* min-width: 500px; */
}
main h2{
    text-align: center;
}

.fig-section {
  display: grid;
  justify-content: center;
  align-items: center;
  align-self: center;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(9, 1fr);
  gap: 20px;
}
.fig-section figure{
    text-align: center;
}

.fig-section img {
  width: 400px;
  height: 200px;
}

footer{
    background-color: darkblue;
    padding: 20px;
    text-align: center;
    color: #fff;
}
